body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-tech {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #2e2f42;
}
.contacts {
  font-style: normal;
}

.contacts .contacts-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts .contacts-info:hover,
.contacts .contacts-info:focus {
  color: #404bbf;
}

.contacts .contacts-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.contacts-info:hover,
.contacts-info:focus {
  color: #404bbf;
}

.button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
  color: #ffffff;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}

.button:hover {
  background-color: #404bbf;
}

.button:focus {
  background-color: #404bbf;
}

.section-first {
  color: #fff;
  background-color: #2e2f42;
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
}

.section-second {
  color: #2e2f42;
  background-color: #f4f4fd;
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
}

.section-third {
  color: #2e2f42;
  background-color: #f4f4fd;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  text-align: center;
}

.section-main {
  background-color: #f4f4fd;
}

.section-color {
  background-color: #ffffff;
}

.page {
  color: #434455;
  background-color: #f4f4fd;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.menu-list {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #2e2f42;
}

.menu-list:hover,
.menu-list:focus {
  color: #404bbf;
}

.section {
  background-color: #2e2f42;
}

.page-footer {
  background-color: #2e2f42;
}

.logo-techno {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.16667;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}

.pages {
  color: #f4f4fd;
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

* {
  list-style: none;
  text-decoration: none;
}

.header-nav {
  display: inline-flex;
}

.section,
.section-main {
  padding-top: 120px;
  padding-bottom: 120px;
}

header {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom: 1px solid #e7e9fc;
  background: #fff;
}

.address {
  display: inline-flex;
  justify-content: flex-end;
  margin-left: 329px;
  margin-top: 24px;
}

/* margin-top: 24px;
  margin-right: 156px;
  margin-left: 332px;
  margin-bottom: 24px; */

.menu {
  display: inline-flex;
  gap: 40px;
  margin-left: 76px;
}

.contacts-list {
  display: inline-flex;
  gap: 40px;
}

.section-first {
  margin-bottom: 48px;
}

.container {
  width: 1158px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

button {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: row;
  gap: 10px;
  border-radius: 4px;
  padding: 16px 32px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: #4d5ae5;
  margin: 0 auto;
}

.wrap {
  max-width: 496px;
  margin: 0 auto;
  padding-top: 188px;
  padding-bottom: 188px;
}

.section-second {
  margin-bottom: 8px;
}

.section-list {
  display: flex;
  justify-content: flex-start;
  justify-content: space-around;
  gap: 24px;
}
